/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi&display=swap');

*{
  margin: 0;
}



/* header style section */

.header{
  display: flex;
  justify-content: center;
  font-family: 'Noto Serif Vithkuqi', serif;
  font-size: 30px;
  margin-top: 2rem;
  margin-bottom: 2rem;
 
}
.header2{
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* navbar style section */
.navbar{
  display: flex;
  justify-content: center;
  margin-bottom: .9rem;
}

.ul{
 
 list-style-type: none;
 display: flex;

}
.li{
  text-decoration: none;
  margin-right: 20px;
  color: black;
  font-weight: 500;
  font-size: 12px;
  font-family: 'Noto Serif Vithkuqi', serif;
}

/* bar style section */
.bar{
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 8px;
}



/* organic products style section */

.organicproducts{
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
 display: flex;
 justify-content: center;
 
}

.wrapper{
  margin: 0;
  width: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap:20px;
  
}
.button{
    background-color: black;
  color: white;
  font-size: x-small;
}